{{!Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for full license information.}}

<div class="affix">
  {{#unless _disableContribution}}
  <div class="contribution">
    <ul class="nav">
      {{#if docurl}}
      <li class="nav-item">
        <a href="{{docurl}}" class="nav-link" title="{{__global.improveThisDoc}}">
          <i class="bi bi-pencil-fill"></i> {{__global.improveThisDoc}}
        </a>
      </li>
      {{/if}}
      {{#if sourceurl}}
      <li class="nav-item">
        <a href="{{sourceurl}}" class="nav-link" title="{{__global.viewSource}}">
          <i class="bi bi-code-slash"></i> {{__global.viewSource}}
        </a>
      </li>
      {{/if}}
    </ul>
  </div>
  {{/unless}}
  <h5>{{__global.inThisArticle}}</h5>
  <input type="text" class="form-control" id="affix-filter" placeholder="Filter..." style="margin-bottom: 10px;" onkeyup="filterAffix()">
  <nav id="affix"></nav>
</div>
